In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [33]:
df = pd.read_csv('DataCoSupplyChainDataset.csv', index_col = 0)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 180519 entries, DEBIT to PAYMENT
Data columns (total 52 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Days for shipping (real)       180519 non-null  int64
 1   Days for shipment (scheduled)  180519 non-null  int64
 2   Benefit per order              180519 non-null  float64
 3   Sales per customer             180519 non-null  float64
 4   Delivery Status                180519 non-null  object
 5   Late_delivery_risk             180519 non-null  int64
 6   Category Id                    180519 non-null  int64
 7   Category Name                  180519 non-null  object
 8   Customer City                  180519 non-null  object
 9   Customer Country               180519 non-null  object
 10  Customer Email                 180519 non-null  object
 11  Customer Fname                 180519 non-null  object
 12  Customer Id                    180519 non-null  int64
 13  Customer Lname                 180511 non-null  object
 14  Customer Password              180519 non-null  object
 15  Customer Segment               180519 non-null  object
 16  Customer State                 180519 non-null  object
 17  Customer Street                180519 non-null  object
 18  Customer Zipcode               180516 non-null  float64
 19  Department Id                  180519 non-null  int64
 20  Department Name                180519 non-null  object
 21  Latitude                       180519 non-null  float64
 22  Longitude                      180519 non-null  float64
 23  Market                         180519 non-null  object
 24  Order City                     180519 non-null  object
 25  Order Country                  180519 non-null  object
 26  Order Customer Id              180519 non-null  int64
 27  order date (DateOrders)        180519 non-null  object
 28  Order Id                       180519 non-null  int64
 29  Order Item Cardprod Id         180519 non-null  int64
 30  Order Item Discount            180519 non-null  float64
 31  Order Item Discount Rate       180519 non-null  float64
 32  Order Item Id                  180519 non-null  int64
 33  Order Item Product Price       180519 non-null  float64
 34  Order Item Profit Ratio        180519 non-null  float64
 35  Order Item Quantity            180519 non-null  int64
 36  Sales                          180519 non-null  float64
 37  Order Item Total               180519 non-null  float64
 38  Order Profit Per Order         180519 non-null  float64
 39  Order Region                   180519 non-null  object
 40  Order State                    180519 non-null  object
 41  Order Status                   180519 non-null  object
 42  Order Zipcode                  24840 non-null   float64
 43  Product Card Id                180519 non-null  int64
 44  Product Category Id            180519 non-null  int64
 45  Product Description            0 non-null       float64
 46  Product Image                  180519 non-null  object
 47  Product Name                   180519 non-null  object
 48  Product Price                  180519 non-null  float64
 49  Product Status                 180519 non-null  int64
 50  shipping date (DateOrders)     180519 non-null  object
 51  Shipping Mode                  180519 non-null  object
dtypes: float64(15), int64(14), object(23)
memory usage: 73.0+ MB

In [35]:
df.shape

(180519, 52)

In [36]:
df.head()

,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,Customer Country,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
Type,,,,,,,,,,,,,,,,,,,,,
DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,Puerto Rico,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2/3/2018 22:56,Standard Class
TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,Puerto Rico,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/18/2018 12:27,Standard Class
CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,EE. UU.,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/17/2018 12:06,Standard Class
DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,EE. UU.,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/16/2018 11:45,Standard Class
PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,Puerto Rico,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 11:24,Standard Class

In [23]:
#df.rename( columns = {'ï»¿Type':'Payment_Method'})

In [37]:
missing = pd.concat([df.isnull().sum(), 100 * df.isnull().mean()], axis=1)
missing.columns=['count', '%']
missing = missing.sort_values(by = ['count','%'], ascending = False)
missing

                                count           %
Product Description            180519  100.000000
Order Zipcode                  155679   86.239676
Customer Lname                      8    0.004432
Customer Zipcode                    3    0.001662
Days for shipping (real)            0    0.000000
Days for shipment (scheduled)       0    0.000000
Benefit per order                   0    0.000000
Sales per customer                  0    0.000000
Delivery Status                     0    0.000000
Late_delivery_risk                  0    0.000000
Category Id                         0    0.000000
Category Name                       0    0.000000
Customer City                       0    0.000000
Customer Country                    0    0.000000
Customer Email                      0    0.000000
Customer Fname                      0    0.000000
Customer Id                         0    0.000000
Customer Password                   0    0.000000
Customer Segment                    0    0.000000
Customer State                      0    0.000000
Customer Street                     0    0.000000
Department Id                       0    0.000000
Department Name                     0    0.000000
Latitude                            0    0.000000
Longitude                           0    0.000000
Market                              0    0.000000
Order City                          0    0.000000
Order Country                       0    0.000000
Order Customer Id                   0    0.000000
order date (DateOrders)             0    0.000000
Order Id                            0    0.000000
Order Item Cardprod Id              0    0.000000
Order Item Discount                 0    0.000000
Order Item Discount Rate            0    0.000000
Order Item Id                       0    0.000000
Order Item Product Price            0    0.000000
Order Item Profit Ratio             0    0.000000
Order Item Quantity                 0    0.000000
Sales                               0    0.000000
Order Item Total                    0    0.000000
Order Profit Per Order              0    0.000000
Order Region                        0    0.000000
Order State                         0    0.000000
Order Status                        0    0.000000
Product Card Id                     0    0.000000
Product Category Id                 0    0.000000
Product Image                       0    0.000000
Product Name                        0    0.000000
Product Price                       0    0.000000
Product Status                      0    0.000000
shipping date (DateOrders)          0    0.000000
Shipping Mode                       0    0.000000

In [38]:
# Removing Product Description and Zip Code due to high missing values

df.drop(columns = ['Product Description','Order Zipcode'], inplace = True)

In [39]:
# Removing Customer info like name as it does not relate to the data anlaysis
customer_info = ['Customer Email','Customer Fname','Customer Lname', 'Customer Password','shipping date (DateOrders)','order date (DateOrders)']
df.drop(columns = customer_info, inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 180519 entries, DEBIT to PAYMENT
Data columns (total 44 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Days for shipping (real)       180519 non-null  int64
 1   Days for shipment (scheduled)  180519 non-null  int64
 2   Benefit per order              180519 non-null  float64
 3   Sales per customer             180519 non-null  float64
 4   Delivery Status                180519 non-null  object
 5   Late_delivery_risk             180519 non-null  int64
 6   Category Id                    180519 non-null  int64
 7   Category Name                  180519 non-null  object
 8   Customer City                  180519 non-null  object
 9   Customer Country               180519 non-null  object
 10  Customer Id                    180519 non-null  int64
 11  Customer Segment               180519 non-null  object
 12  Customer State                 180519 non-null  object
 13  Customer Street                180519 non-null  object
 14  Customer Zipcode               180516 non-null  float64
 15  Department Id                  180519 non-null  int64
 16  Department Name                180519 non-null  object
 17  Latitude                       180519 non-null  float64
 18  Longitude                      180519 non-null  float64
 19  Market                         180519 non-null  object
 20  Order City                     180519 non-null  object
 21  Order Country                  180519 non-null  object
 22  Order Customer Id              180519 non-null  int64
 23  Order Id                       180519 non-null  int64
 24  Order Item Cardprod Id         180519 non-null  int64
 25  Order Item Discount            180519 non-null  float64
 26  Order Item Discount Rate       180519 non-null  float64
 27  Order Item Id                  180519 non-null  int64
 28  Order Item Product Price       180519 non-null  float64
 29  Order Item Profit Ratio        180519 non-null  float64
 30  Order Item Quantity            180519 non-null  int64
 31  Sales                          180519 non-null  float64
 32  Order Item Total               180519 non-null  float64
 33  Order Profit Per Order         180519 non-null  float64
 34  Order Region                   180519 non-null  object
 35  Order State                    180519 non-null  object
 36  Order Status                   180519 non-null  object
 37  Product Card Id                180519 non-null  int64
 38  Product Category Id            180519 non-null  int64
 39  Product Image                  180519 non-null  object
 40  Product Name                   180519 non-null  object
 41  Product Price                  180519 non-null  float64
 42  Product Status                 180519 non-null  int64
 43  Shipping Mode                  180519 non-null  object
dtypes: float64(13), int64(14), object(17)
memory usage: 62.0+ MB

In [41]:
product_info = ['Product Image', 'Product Card Id']
df.drop(columns = product_info, inplace = True)
df.info()

KeyError: "['Product Image', 'Product Card Id'] not found in axis"

In [46]:
delivery_status = df.iloc[:,5].value_counts()
shipping_mode = df.iloc[:,41].value_counts()
shipping_mode

Standard Class    107752
Second Class       35216
First Class        27814
Same Day            9737
Name: Shipping Mode, dtype: int64

In [42]:
delivery_status.head()

Late delivery        98977
Advance shipping     41592
Shipping on time     32196
Shipping canceled     7754
Name: Delivery Status, dtype: int64

In [43]:
df2 = df.rename(index=str, columns={"Product Name":"Product_Name", "Order Profit Per Order":"Order_Profit"})
df3 = df2.set_index('Product_Name').groupby('Product_Name').mean()
print(df3.Order_Profit)

Product_Name
Adult dog supplies                                 7.295244
Baby sweater                                       7.367295
Bag Boy Beverage Holder                           11.375556
Bag Boy M330 Push Cart                            43.030580
Bowflex SelectTech 1090 Dumbbells                119.078000
                                                    ...
adidas Kids' F5 Messi FG Soccer Cleat             11.092863
adidas Men's F10 Messi TRX FG Soccer Cleat        26.928098
adidas Men's Germany Black Crest Away Tee          9.805260
adidas Youth Germany Black/Red Away Match Soc     25.889809
insta-bed Neverflat Air Mattress                  17.277000
Name: Order_Profit, Length: 118, dtype: float64

In [44]:
# Saving File

df2.to_csv('Cleaned_Supply_Chain.csv')